<!DOCTYPE html>
<html>
    <head>
        <title>AtSCA |  login</title>
        <link rel="icon" type="image/png" href="images/logo.png">
    </head>
    <body>
        <section>
            <img src="images/logo.png" alt="logo" class="center">
            <h2>Please fill-in your Login Credentials</h2>
        </section>
        <section>
            <form action="/login" action="POST"> 
                <div>
                    <input type="text"  name="user" placeholder="Username">
                    <i class="fa fa-phone fa-lg fa-fw" aria-hidden="true"></i>
                </div>
                <div>
                    <input type="password"  name="password" placeholder="Password">
                    <!-- TODO: Change icon -->
                    <i class="fa fa-phone fa-lg fa-fw" aria-hidden="true"></i>
                </div>
                <input type="submit" class="btn btn-warning btn-lg">Login</input>
            </form>
        </section>
    </body>
</html>